/* Global Styling Begins */
:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
    color: var(--light-color);
	}



a {
	color:var(--light-color);
	text-decoration: none;
}


@media (max-width: 960px) {

		.showcase {
		height: 70vh;
	}

	.hide-sm {
		display: none;
	}

	.showcase-top img {
		top: 30%;
		left: 5%;
		transform: translate(0);
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

@media (max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}

/* Header Begins */
.showcase {
	width: 100%;
	height: 93vh;
	position: relative;
	background: url('../assets/Netflix-Background.jpg') no-repeat center center/cover;
}
@media (max-width: 360px) {
    .showcase {
        height: 60vh;
    }
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
    display: flex;
    justify-content: space-between;
}

.showcase-top img {
    width: 170px;
    height: auto;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}
@media (max-width: 360px) {
    .showcase-top img {
        width: 140px;
        top: 50%;
        left: 10%;
        transform: translate(-20%, -30%);
    }
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}
@media (max-width: 360px) {
    .showcase-top a {
        top: 50%;
        right: 0;
        transform: translate(-10%, 20%);
    }
}
.showcase-content {
	position: relative;
	z-index: 2;
	width: 55%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
}
@media (max-width:360px) {
    .showcase-content {
        width: 100%;
    }
}

.showcase-content h1 {
	font-weight: 700;
	line-height: 1.1;
	margin: 0 0 2rem;
    font-size: 65px;
}
@media (max-width: 360px) {
    .showcase-content h1 {
        font-size: 30px;
        width: 100%;
    }
}
.showcase-content p {
	color: var(--light-color);
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}
.showcase-content span {
    font-size: 20px;
    padding: 10px 0;
}
@media (max-width: 360px) {
    .showcase-content span {
        font-size: 12px;
    }
}

.register{
    align-items: center;
    justify-content: center;
    z-index: 33;
    position: relative;

}

.email{
    width: 40%;
  height: 4rem;
  padding: 0.375rem 0.75rem;
}
@media (max-width: 360px) {
    .email {
        width: 90%;
        height: 3rem;
    }
}

.submit{
    width: 20%;
  height: 4rem;
  padding: 0.375rem 0.75rem;
  background-color: var(--primary-color);
  color: var(--light-color);    
  border: 1px solid var(--primary-color);
  font-size: large;
  
}
@media (max-width: 360px) {
    .submit {
        width: 40%;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
    }
}
/* Headder Ends */

/* Border-Top For Different Sections */
#enjoy{
    border-top: 10px #444 solid;
    color: var(--light-color);
}
#download{
    border-top: 10px #444 solid;
    color: var(--light-color);
}
#watch{
    border-top: 10px #444 solid;
    color: var(--light-color);
}
#profile{
    border-top: 10px #444 solid;
    color: var(--light-color);
}

/* Footer begins */
.footer {
	/* max-width: 70%; */
	/* margin: 1rem auto; */
	overflow: auto;
    border-top: 10px #444 solid;
    padding: 2rem;
    background-color: #000;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.7rem;
    text-decoration: none;
}
.footer a:hover {
    color: var(--primary-color);
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}
@media (max-width: 360px) {
    .footer .footer-cols {
        text-align: center;
        margin-left: -20px;
    }
}
.top a {
    display: inline;
    font-size: large;
}

.footer li {
	line-height: 2.9;
    list-style: none;
}
.bottom {
    color: var(--light-color);
}


@media (max-width: 960px) {
    .footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}
    .footer li {
        line-height: 1rem;
    }
}